html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #cbdfbd;
	background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
  	font-family: 'Nunito', sans-serif;
}

.card-body {
	/*
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background-position: center;
	background-size: cover;
	color: white;
	*/
}

h1, h3, h5 {
	color: white;
}

h1 {
  margin-top: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}